/* Common styles  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #121111;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

/* First cards section styles  */

.first-cards{
    margin: 40px;
    padding: 0px 20px;
}

.first-cards .section-heading{
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 30px 0px;
}

.first-single-card{
    background-color: white;
    color: #121111;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-bottom: 20px;

}

.first-single-card .icon{
    padding: 5px;
    color: white;
}

.first-single-card .learn-more{
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.first-single-card .blue{
    background-color: #4e86f0;
}

.first-single-card .orange{
    background-color: #f68732;
}

.first-single-card .green{
    background-color: #28dc5e;
}

.first-single-card .learn-more a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.first-single-card .learn-more span{
    color: white;
   font-size: 32px;
}

.first-single-card p{
    margin-bottom: 50px;
}

@media screen and (min-width: 650px){
    .first-cards{
        padding: 0px 40px;
    }

    .first-card-container{
        display: flex;
        gap: 10px;
    }

    .first-single-card p{
        margin-bottom: 70px;
        color: #8a8d8a;
       
    }


}

@media screen and (min-width: 650px){
    .first-cards{
        padding: 0px 80px;
    }

    .first-card-container{
        display: flex;
        gap: 20px;
    }
}

@media screen and (min-width: 1400px){
    .first-cards{
        padding: 0px 80px;
    }

    .first-card-container{
        display: flex;
        gap: 60px;
    }

    .first-single-card{
        padding: 50px;
    }

    .first-single-card p{
       font-size: 20px;
       
    }

    .first-single-card h2{
        font-size: 24px;
    }
}

